PatchNotification_Flow/Microsoft.Flow/flows/42b0743e-b173-4109-9ffa-de6605b20a3e/definition.json
{"name":"4d84b385-3d9f-40c4-94da-2ebb1ed9b7ba","id":"/providers/Microsoft.Flow/flows/4d84b385-3d9f-40c4-94da-2ebb1ed9b7ba","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Http -> Send an email (V2)","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"f8ef4d67-94a1-413b-a878-4125e919b781","type":"User","tenantId":"aee6e3c9-711e-4c7c-bd27-04f2307db20d"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-02-24T16:49:28.9862239Z","connectionKeySavedTimeKey":"2025-02-24T16:49:28.9862239Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{},"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"InstalledComponents":{"type":"object","properties":{"Portal for ArcGIS":{"type":"string"},"ArcGIS Server":{"type":"string"},"ArcGIS Data Store":{"type":"string"}}},"InstalledPatches":{"type":"array","items":{"type":"string"}},"AvailableUpdates":{"type":"object","properties":{"Portal for ArcGIS":{"type":"array","items":{"type":"object","properties":{"releaseDate":{"type":"string"},"url":{"type":"string"},"description":{"type":"string"}},"required":["description"]}},"ArcGIS Server":{"type":"array","items":{"type":"object","properties":{"releaseDate":{"type":"string"},"url":{"type":"string"},"description":{"type":"string"}},"required":["description"]}},"ArcGIS Data Store":{"type":"array","items":{"type":"object","properties":{"releaseDate":{"type":"string"},"url":{"type":"string"},"description":{"type":"string"}},"required":["description"]}}}}}},"triggerAuthenticationType":"All"}}},"actions":{"JSON_Data":{"runAfter":{},"type":"Compose","inputs":"@triggerBody()?['AvailableUpdates']"},"Parse_Portal_JSON":{"runAfter":{"JSON_Data":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('JSON_Data')","schema":{"type":"object","properties":{"Portal for ArcGIS":{"type":"array","items":{"type":"object","properties":{"releaseDate":{"type":"string"},"url":{"type":"string"},"description":{"type":"string"}}}}}}}},"Send_an_email_notification_(V3)":{"runAfter":{"Compose_1":["Succeeded"],"Compose":["Succeeded"],"Compose_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"request/to":"cflint@esri.com","request/subject":"Patch Notification Alert","request/text":"<p class=\"editor-paragraph\">Portal:</p><p class=\"editor-paragraph\">@{outputs('Compose')}</p><br><p class=\"editor-paragraph\">Server:</p><p class=\"editor-paragraph\">@{outputs('Compose_1')}</p><br><p class=\"editor-paragraph\">Datastore:</p><p class=\"editor-paragraph\">@{outputs('Compose_2')}</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail","connectionName":"shared_sendmail","operationId":"SendEmailV3"},"authentication":"@parameters('$authentication')"}},"Parse_Server_JSON":{"runAfter":{"JSON_Data":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('JSON_Data')","schema":{"type":"object","properties":{"ArcGIS Server":{"type":"array","items":{"type":"object","properties":{"releaseDate":{"type":"string"},"url":{"type":"string"},"description":{"type":"string"}}}}}}}},"Parse_Data_Store_JSON":{"runAfter":{"JSON_Data":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('JSON_Data')","schema":{"type":"object","properties":{"ArcGIS Data Store":{"type":"array","items":{"type":"object","properties":{"releaseDate":{"type":"string"},"url":{"type":"string"},"description":{"type":"string"}}}}}}}},"Compose_1":{"runAfter":{"Parse_Server_JSON":["Succeeded"]},"type":"Compose","inputs":"@body('Parse_Server_JSON')?['ArcGIS Server']"},"Compose":{"runAfter":{"Parse_Portal_JSON":["Succeeded"]},"type":"Compose","inputs":"@body('Parse_Portal_JSON')?['Portal for ArcGIS']"},"Compose_2":{"runAfter":{"Parse_Data_Store_JSON":["Succeeded"]},"type":"Compose","inputs":"@body('Parse_Data_Store_JSON')?['ArcGIS Data Store']"}}},"connectionReferences":{"shared_sendmail":{"connectionName":"shared-sendmail-9723f688-3f8a-409a-b7e9-829e76e3546f","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sendmail","tier":"NotSpecified","apiName":"sendmail"}},"flowFailureAlertSubscribed":false,"isManaged":false}}